@import "tailwindcss";
@plugin "daisyui";
.sour{
  font-family: "Sour Gummy", sans-serif;
  
}
/* index.css or global CSS file */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
